.docs-titlebar-buttons {
    background-color: red;
}
.docs-title-save-label {
    background-color: red;
}
.docs-material {
    background-color: red;
}
#docs-toolbar-wrapper {
    background-color: red;
}
.docs-title-outer {
    background-color: red;
}
.docs-title-inline-rename {
    background-color: red;
}
#docs-toolbar-wrapper:hover {
    background-color: red;
}
.kix-appview-editor {
    background-color: red;
}

.kix-page-column {
    background-color: red;
}
