#undoButton,
#redoButton,
#printButton,
#spellGrammarCheckButton,
#formatPainterButton,
#boldButton,
#italicButton,
#underlineButton,
#textColorButton,
#bgColorButton,
#insertLinkButton,
#insertCommentButton,
#insertImageButton,
#alignButton,
#moreButton,
#docs-toolbar-mode-switcher,
#viewModeButton,
#zoomSelect,
#headingStyleSelect,
#docs-font-family,
#fontSizeSelect,
#alignLeftButton,
#alignCenterButton,
#alignRightButton,
#alignJustifyButton,
#lineSpacingMenuButton,
#addBulletButton,
#bulletedListPresetMenuButton,
#addNumberedBulletButton,
#numberedListPresetMenuButton,
#outdentButton,
#indentButton,
#clearFormattingButton,
.kix-page-column,
.kix-print-block,
.menu-button,
.docs-title-input,
.docs-ruler,
.docs-ruler-face,
.docos-replyview-comment,
.docos-input-textarea {
    background-color: #4d4d4d !important;
    color: white; 
}

.kix-appview-editor,
.docs-titlebar-buttons,
.docs-title-save-label,
.docs-material,
#docs-toolbar-wrapper,
.docs-title-outer,
.goog-menuitem,
.goog-menuitem-content,
.navigation-item-content,
.navigation-widget-hat-title,
.docs-bubble,
.docos-anchoredreplyview,
.docos-input,
.docos-show-more,
.docos-replyview-body,
.docos-docoview-replycontainer {
    background-color: #333333 !important;
    color: white
}